<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= current_user.name %>
</p>
<br>
<figure class="image is-64x64">
  <% if current_user.avatar.attached? %>
    <image src="<%= (url_for(current_user.avatar)) %>">
  <% end %>
</figure>

<% if current_user.posts.exists? %>
<%= "Posts:" %>
<br>
<br>
  <% @posts.each do |p| %>
    <div class="box">
      <article class="media">
        <div class="media-content">
          <nav class="level">
            <div class="level-left is-mobile">
              <div class="media-content">
                <div class="content">
                  <p> <%= p.body %></p>
                </div>
                <% if false %>
                  <%= link_to post, class: "level-item" do %>
                    <span class="icon"><i class="fa fa-link" aria-hidden="true"></i></span>
                  <% end %>
                  <%= link_to edit_post_path(post), class: "level-item" do %>
                    <span class="icon"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                  <% end %>
                  <%= link_to post, method: :delete, data: {confirm: "are you sure you want to delete this post?"} do %>
                    <span class="icon"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                  <% end %>
                <% end %>
              </div>
            </div>
          </nav>
        </div>
      </article>
    </div>

  <% end %>
<% else %>
  
<% end %>
